# Gradle files
.gradle/
build/

# Android Studio / IntelliJ files
.idea/
*.iml
*.iws
*.ipr
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.jks

# Local configuration files
local.properties

# Secrets (Important!)
# It's highly recommended to keep these out of version control
google-services.json
mock-google-services.json
google-services.plist

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Mobile-specific
*.ap_
*.dex
*.class
bin/
gen/

# Backup files
*.bak
*.swp
*~
